<ng-template #installationNgxs>

    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown ngPreserveWhitespaces>
      ### To install ngxs 
 
    </markdown>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <div markdown ngPreserveWhitespaces>{{ markdownNgxsInstallation }}</div>

</ng-template>

<ng-template #createState>

  <markdown ngPreserveWhitespaces> --- </markdown>
  <div markdown ngPreserveWhitespaces>{{ markdownNgxsStore }}</div>
  <markdown ngPreserveWhitespaces> --- </markdown>


</ng-template>

<ng-template #createAction>

  <markdown ngPreserveWhitespaces> --- </markdown>
  <div markdown ngPreserveWhitespaces>{{ markdownNgxsAction }}</div>
  <markdown ngPreserveWhitespaces> --- </markdown>


</ng-template>

<ng-template #createState>

  <markdown ngPreserveWhitespaces> --- </markdown>
  <div markdown ngPreserveWhitespaces>{{ markdownNgxsAction }}</div>
  <markdown ngPreserveWhitespaces> --- </markdown>


</ng-template>

<ng-template #createHtml>

  <markdown ngPreserveWhitespaces> --- </markdown>
  <div markdown ngPreserveWhitespaces>{{ markdownNgxsHtml }}</div>
  <markdown ngPreserveWhitespaces> --- </markdown>


</ng-template>
  


<ng-container [ngTemplateOutlet]="tems" [ngTemplateOutletContext]="myContext">
</ng-container>