<div class="list-item {{ (task | async).state }}">
    <label
      [attr.aria-label]="'archiveTask-' + (task | async).id"
      for="checked-{{ (task | async).id }}"
      class="checkbox"
    >
      <input
        type="checkbox"
        disabled="true"
        [defaultChecked]="(task | async).state === 'TASK_ARCHIVED'"
        name="checked-{{ (task | async).id }}"
        id="checked-{{ (task | async).id }}"
      />
      <span class="checkbox-custom" ></span>
    </label>
    <label
      [attr.aria-label]="(task | async).title + ''"
      for="title-{{ (task | async).id }}"
      class="title"
    >
      <input
        type="text"
        [value]="(task | async).title"
        readonly="true"
        id="title-{{ (task | async).id }}"
        name="title-{{ (task | async).id }}"
        placeholder="Input title"
      />
    </label>
    <button
      *ngIf="(task | async).state !== 'TASK_ARCHIVED'"
      class="pin-button"
      [attr.aria-label]="'pinTask-' + (task | async).id"
      
    >
      <span class="icon-star"></span>
    </button>
  </div>