

<ng-template #simpleTask>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown ngPreserveWhitespaces> {{simpleTaskMarkdown1}} </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      {{ simpleTaskMermaid}}
    </markdown>
    <markdown ngPreserveWhitespaces> {{simpleTaskMarkdown2}} </markdown>
    <div markdown ngPreserveWhitespaces>---</div>
  </ng-template>
  
  <ng-template #taskList>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      {{ taskListMermaid}}
    </markdown>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <div markdown ngPreserveWhitespaces>{{taskListMarkdown1}}</div>
  </ng-template>

    
  <ng-template #pureInbox>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      {{pureInboxMermaid1}}
    </markdown>
    <div markdown  ngPreserveWhitespaces >{{pureInboxMarkdown1}}</div>
    <markdown  ngPreserveWhitespaces > {{pureInboxInteractionMarkdown}} </markdown>
    <markdown
    ngPreserveWhitespaces
    commandLine
    [prompt]="'PS C:\Users\Chris>'"
    [filterOutput]="'(out)'">
    ```powershell
    PASS   browser: chromium  src/app/components/pure-inbox-screen/pure-inbox-screen.stories.ts
    Screen/PureInboxScreen
      Default
        √ smoke-test (194 ms)
      Error
        √ smoke-test (34 ms)
      WithInteractions
        √ play-test (31 ms)
  
  Test Suites: 1 passed, 1 total
  Tests:       3 passed, 3 total
  Snapshots:   0 total
  Time:        7.109 s
  Ran all test suites related to changed files.
  
  Watch Usage
   › Press a to run all tests.
   › Press f to run only failed tests.
   › Press q to quit watch mode.
   › Press p to filter by a filename regex pattern.
   › Press t to filter by a test name regex pattern.
   › Press Enter to trigger a test run.
    `​``
  </markdown>
 
  </ng-template>

  <ng-template #dataTasklist>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      
    </markdown>
    <div markdown  ngPreserveWhitespaces >{{dataTasklistMarkdown}}</div>
    <markdown  ngPreserveWhitespaces >  </markdown>
 
  </ng-template>

  <ng-template #dataTasklistPinned>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
     
    </markdown>
    <div markdown  ngPreserveWhitespaces >{{dataTasklistPinnedMarkdown}}</div>
    <markdown  ngPreserveWhitespaces > </markdown>
 
  </ng-template>

  <ng-template #dataInboxScreen>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      
    </markdown>
    <div markdown  ngPreserveWhitespaces >{{dataInboxScreenMarkdown}}</div>
    <markdown  ngPreserveWhitespaces >  </markdown>
 
  </ng-template>

  <ng-template #dataInboxScreenError>
    <markdown ngPreserveWhitespaces> --- </markdown>
    <markdown mermaid ngPreserveWhitespaces>
      
    </markdown>
    <div markdown  ngPreserveWhitespaces > {{dataInboxScreenErrorMarkdown}}</div>
    <markdown  ngPreserveWhitespaces > </markdown>
 
  </ng-template>
  

<ng-container [ngTemplateOutlet]="tems" [ngTemplateOutletContext]="myContext">
</ng-container>